<%- include ('partials/header') %>
    <main>
        <section class="image">
            <img src="images/header.jpg" alt="">
        </section>

        <section class="about-container">
            <h2 class="about-heading">About Us</h2>
            <div class="about-content">
                <p class="bold-text">
                    Welcome to Tech Blogs!
                </p>
                <p>
                    At Tech Blogs, we are passionate about all things technology. We aim to provide you with the latest news, insights, and updates from the world of tech, helping you stay informed and connected in this fast-paced digital era.
                </p>
                <p>
                    Our team of tech enthusiasts is dedicated to curating valuable content that caters to a diverse range of readers, from tech novices to seasoned professionals. Whether you're interested in gadgets, software development, cybersecurity, artificial intelligence, or emerging technologies, we've got you covered.
                </p>
                <p>
                    With our in-depth articles, tutorials, and reviews, we strive to make complex tech concepts accessible and understandable. We believe that technology should empower everyone, and we're here to bridge the knowledge gap and inspire you to explore the limitless possibilities of the digital world.
                </p>
                <p class="bold-text">
                    Why Choose Tech Blogs?
                </p>
                <ol>
                    <li><span class="title">Trusted Expertise: </span> Our team consists of experienced professionals who have a deep understanding of the tech industry. We stay updated with the latest trends, innovations, and breakthroughs to bring you accurate and reliable information.</li>
                    <li><span class="title">Engaging Content: </span> We believe that learning should be engaging and enjoyable. Our articles are crafted to be informative, easy to follow, and captivating, ensuring that you have a pleasant reading experience.</li>
                    <li><span class="title">Variety of Topics: </span> Technology is a vast and ever-evolving field, and we strive to cover a wide range of topics. Whether you're interested in hardware, software, mobile apps, internet culture, or tech news, you'll find valuable content tailored to your interests.</li>
                    <li><span class="title">Community Interaction: </span> We value our readers and foster a sense of community. We encourage discussions, feedback, and questions from our audience, creating a space for knowledge sharing and collaboration.</li>
                </ol>
                <p>We hope you find our tech blog informative, inspiring, and useful. Thank you for visiting Tech Blogs, and we look forward to embarking on this tech-filled adventure with you!</p>
            </div>
        </section>
    </main>    
<%- include ('partials/footer') %>