<%- include ('partials/header') %>
    <main>
        <section class="login-container">
            <h2>Sign in</h2>

            <form action="" method="post">
                <div class="form-grp">            
                    <input type="email" id="email" name="email" placeholder="Enter Email" required>
                </div>

                <div class="form-grp">            
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>

                <button type="submit">Sign in</button>
            </form>

            <p>Don't have an account? <a href="/register">Sign up</a></p>
        </section>
    </main>
<%- include('partials/footer') %>